# some redundancies just to be safe

# Pulled from netbeans template (fits more with ant)
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
nbdist/
.nb-gradle/
dist/

# Pulled from a gradle template
/.gradle/
/.idea/
/.nb-gradle/
/build/
/private/
/Written Assets/
/*.dll
/*.dylib
/*.so

# added
/.DS_Store
/src/.DS_Store
/hs_err*
